.Item {

}

.Item .jumbotron {
    background-color: brown;
    color: white;

}

.Item .row {
    background-color: darkgray;
    color:darkslateblue;
    width:5%;
} 

.col-4 {
    background-color: darkgray;
    color:darkslateblue;
    width:10px;
} 

